{% extends 'includes/base.html' %}
{% load static %}

{% block user_css %}
<link rel="stylesheet" href="{% static 'signin.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-3 text-center">
        <a href="{% url 'welcome' %}">
            <img src="{% static 'logo.png' %}" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
        </a>
    </div>
    <div class="row justify-content-center">
        <h4 class="text-center mb-3 text-light">Sign in to Team</h4>
        <div class="col-md-3 bg-dark bg-opacity-25 rounded p-4  border border-dark">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label text-light">UserName</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-light">Password</label>
                    {{ form.password }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-3 bg-dark bg-opacity-25 rounded p-3 text-center text-light border border-dark">
            New to Team?
            <a class="text-decoration-none" href="{% url 'signup' %}">Creat an account</a>.
        </div>
    </div>
</div>
{% endblock %}
