{% extends 'includes/base.html' %}
{% load static %}

{% block user_css %}
<link rel="stylesheet" href="{% static 'welcome.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="{% static 'logo.png' %}" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
        </a>
        <li class="nav-item">
          <a class="nav-link active text-light" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Link 1</a></li>
            <li><a class="dropdown-item" href="#">Link 2</a></li>
            <li><a class="dropdown-item" href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'signin' %}">Sing in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'signup' %}">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</div> 
{% endblock %}
